.m
{
background-color: #a36ba3;
background-image: ;
}
ul{
    list-style-type: none;
    border: 1px solid #ce89ce;
    background-color: rgb(68, 188, 228);

    
}
ul{
    display: inline;
}
div{
    border: 3px solid;
    border-style: solid;
    background-image: -o-linear-gradient();
}

li a{
 display: block;
 color: #ce89ce;
 padding-right: 15px;
 padding-left: 15px;
 padding-top: 10px;
 padding-bottom: 10px;
}
.alt{
    background-color: lightpink;
    padding: 0px;
    margin: 0px;
}
    th {
        background-color: darkblue;
        color: white;
    }
    tr:nth-child(even) {background-color: #f2f2f2;}
        
      
